<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title><%= @headers['title']%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=792, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <% if @headers['theme'] == 'bright' %>
      <link rel="stylesheet" href="bower_components/shower-bright/styles/screen.css">
    <% else %>
      <link rel="stylesheet" href="bower_components/shower-ribbon/styles/screen.css">
    <% end %>

    <style>
     .logo {
       position: absolute;
       bottom: 10px;
       left: 60px;
     }
     .footer {
       position: absolute;
       bottom: 10px;
       left: 110px;

       color: #DEDEDE;
       font-size: smaller;
     }
    </style>    
    <% if not @headers['css'] =~ /not found/ %>
      <link rel="stylesheet" href="<%= @headers['css'] %>">
    <% end %>
  </head>
  <body class="list">
    <header class="caption">
      <h1><%= @headers['title'] %></h1>
      <p><%= @headers['author'] %></p>
    </header>
    <% @slides.each do |slide| %>
      <section class="slide <%= slide.classes %>" <%= slide.data_attributes %> >
        <div>
          <%= slide.content %>
        </div>
        <% if not @headers['logo'] =~ /not found/ and not slide.classes.include?("cover") %>
	  <span class="logo">
	    <img src='<%= @headers['logo']%>' width='50px'></img>
	  </span>
        <% end %>
        <% if not slide.classes.include?("cover") %>
          <span class="footer"><%= @headers['footer'] %></span>
        <% end %>
      </section>
    <% end %>

    <% if @headers['progress'] == 'true' %>
      <div class="progress"><div></div></div>
    <% end %>

    <script src="bower_components/shower-core/shower.min.js"></script>
  </body>
</html>
